{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'detail.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4 mb-4 pb-2 pt-2">
    <div class="col-lg-8" style="margin: auto;">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert" style=>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <a href="{% url 'kategori:kategori' %}" class="btn btn-success mb-4">< Kembali</a>
        <br>
        {% if resep.foto %}
            <img src="{{ resep.foto.url }}" alt="{{ resep.nama }}" class="foto img-fluid">
        {% else %}
            <img src="{% static 'NoPhoto.jpg' %}" alt="Resep tanpa foto" class="foto img-fluid">
        {% endif %}
        <br>
        <p class="nama">{{ resep.nama }}</p>
        <p class="text-center durasi-porsi">
        <img src="{% static 'stopwatch.png' %}" alt="Durasi">
        {{ resep.durasi }}
        <img src=" {% static 'fryingpan.png' %}" alt="Porsi">
        {{ resep.porsi }}</p>
        <p>{{ resep.deskripsi }}</p>
        <hr>
        <h3 class="titlebl"> Bahan - bahan </h3>
        <p class="descbl">{{ resep.bahan|linebreaks }}</p>
        <hr>
        <h3 class="titlebl"> Langkah - langkah </h3>
        <p class="descbl">{{ resep.langkah|linebreaks }}</p>
        <a href="{% url 'tambahupdate:perbarui' resep.id %}" class="btn btn-success col-lg-12 mt-4 mb-4">Perbarui</a>
    </div>
</div>
<div class="container-fluid" style="background-color: #e0e0e0;">
    <div class="container" style="padding-top: 3rem; padding-bottom: 3rem;">
        <div class="col-lg-8" style="margin: auto;">
            <form method="POST" enctype="multipart/form-data" style="margin-bottom: 2rem;"> {% csrf_token %}
                {{ form.komentar|as_crispy_field }}
                <button class="btn btn-success col-lg-12 mt-4 mb-4" type="submit">Kirim Komentar</button>
            </form>
            <h5>Komentar</h5>
            <br>
            {% if resep.comment_set.all %}
                {% for komeng in resep.comment_set.all %}
                    <div class="everycomment">{{ komeng.komentar }}</div>
                {% endfor %}
            {% else %}
            <p>Belum ada komentar.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}