{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'kategori.css' %}">
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <a href="{% url 'kategori:kategori' %}" class="btn btn-success"> < Kembali</a>
        <h1 style="text-align: center; padding-bottom: 5rem;">Kategori : {{ kategori }}</h1>
    </div>
    <div class="col-lg-12">
        <div class="row justify-content-center">
            {% if list_resep_by_kategori %}
                {% for resep in list_resep_by_kategori %}    
                        <div class="col-auto mb-3">
                            <a class="link-spesifik" style="color:black" href="{% url 'detailComment:detail' resep.nama %}">
                                <div class="card">
                                    {% if resep.foto %}
                                        <img class="card-img-top" src="{{ resep.foto.url }}" alt="{{ resep.nama }}">
                                    {% else %}
                                        <img class="card-img-top" src="{% static 'NoPhoto.jpg' %}" alt="Foto tanpa resep">
                                    {% endif %}
                                    <div class="card-body" style="text-align: center;">
                                        <p class="card-text">{{ resep.nama }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                {% endfor %}
            {% else %}
                <br><br><br>
                <h5>Belum ada resep yang tersedia.</h5>
                <br><br><br>
            {% endif %}
        </div>
    </div>
{% endblock %}