@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

.asteriskField {
    display: none;
}

/* css outside of bootstrap */

.foto {
    width: 44rem;
    height: 30rem;
    margin-bottom: 4rem;
    object-fit: cover;
}

.nama {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.durasi-porsi {
    font-size: 1rem;
}

hr {
    border: 1px solid #696969;
}

.titlebl {
    font-size: 1.5em;
}

.descbl {
    font-size: 0.75em;
}

.container .btn {
    background-color: #A16AE8;
    color: #fafafa;
    font-size: 1em;
    border-radius: 30px;
    border-color: #A16AE8;
}

.container .btn:hover {
    background-color: #8c63c2;
}

.everycomment {
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 2rem;
}