{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'stylekritiksaran.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="text-align: center; width: 60vw; margin-top: 2rem;">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="container" style="margin-top: 2rem;">
    <div class="col-lg-12 pageTitle">
        <h2>Kritik & Saran</h2>
        <h3>Yuk, berikan umpan balik untuk MakanMinum! Setiap masukan sangat berharga bagi kami.</h3>
    </div>
</div>
<div class="container" style="margin-bottom: 4rem;">
    <div class="col-lg-6" style="margin: auto;">
        <form action="." method="POST"> {% csrf_token %}
            {{ form.isi|as_crispy_field }}
            <div style="text-align: center; margin-top: 2rem;">
                <button type="submit" class="btn btn-primary">Kirim</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}