{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'tambahupdate.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %} 
<br>
<div class="container mt-5">
    <a href="{% url 'homepage:home' %}" class="btn btn-success"> < Kembali</a>
    <h1 style="text-align: center;">{{ h1 }}</h1>
    <p style="text-align: center;">{{ p }}</p>
    <div class="content-section mt-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-2">
                        {{ form.nama|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-2">
                        {{ form.kategori|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-2">
                        {{ form.durasi|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-2">
                        {{ form.porsi|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group mb-4">
                    {{ form.deskripsi|as_crispy_field }}
                </div>
                <div class="form-group mb-4">
                    {{ form.bahan|as_crispy_field }}
                </div>
                <div class="form-group mb-4">
                    {{ form.langkah|as_crispy_field }}
                </div>
                <div class="form-group mb-0">
                    {{ form.foto|as_crispy_field }}
                </div>
                <div class="form-group mb-5">
                    <div class="text-right">
                        <button class="btn btn-success" type="submit">Unggah</button>
                    </div>
                </div>
        </form>        
    </div>
</div>
<br>
{% endblock %}