.container .btn {
    background-color: #A16AE8;
    color: #fafafa;
    font-size: 1em;
    border-radius: 30px;
    border-color: #A16AE8;
}

.container .btn:hover {
    background-color: #8c63c2;
}

.card-img-top {
    height: 15rem;
    width: 20rem;
    object-fit: cover;
}

.card:hover {
    background-color: #eaeaea;
}