.asteriskField {
    display: none;
}

.pageTitle h2 {
    margin-bottom: 1rem;
    font-size: 40px;
    text-align: center;
}

.pageTitle h3 {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 20px;
    text-align: center;
}

.btn-primary {
    background-color: #a16ae8;
    border: 0px;
    border-radius: 30px;
    min-width: 130px;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background-color: #8c63c2;
}